{% extends '../employeeDashboard.html' %}
{% load static %}
{% block dashboard %}

{% include './taskHeader.html' %}

<div class="col m2 hide-on-med-and-down">

</div>

<div class="col s12 m8 center-by-margin main-content-center">
    <div class="row tab-container">
        <div class = "col s12 tab-container-tabs">
            <ul class = "tabs">
                <li class = "tab col s6"><a class = "active" href = "#inbox">Pendientes</a></li>
                <li class = "tab col s6"><a href = "#unread">Completadas</a></li>            
            </ul>
        </div>

        <div id = "inbox" class = "col s12">
            <!--List of not done tasks-->
            <ul class="collection with-header">                     
                {% for task in notdone %}        
                    <li class="collection-item avatar">                        
                        <img src="{{ task.report.photo1.url }}" alt="" class="circle">                                                
                        <p>Asignada el {{ task.assigned_date|date:"d M Y" }}</p>                        
                        <span class="title">                        
                            {% if task.report.type_of_risk == '1' %}
                                Relacionado con vuelo
                            {% endif %}
                            {% if task.report.type_of_risk == '2' %}
                                E.P.P.
                            {% endif %}
                            {% if task.report.type_of_risk == '3' %}
                                Procedimientos
                            {% endif %}
                            {% if task.report.type_of_risk == '4' %}
                                Mantenimiento Aeronáutico
                            {% endif %}
                            {% if task.report.type_of_risk == '5' %}
                                FOD
                            {% endif %}
                            {% if task.report.type_of_risk == '6' %}
                                Orden y limpieza
                            {% endif %}
                            {% if task.report.type_of_risk == '7' %}
                                Acto inseguro
                            {% endif %}
                            {% if task.report.type_of_risk == '8' %}
                                Otros
                            {% endif %}
                        </span>                
                        <p>{{ task.taskDescription }}</p>
                        <p><a href="{% url 'employees:risk-report-detail' task.report.id %}"> Ver reporte de riesgo asociado</a></p>
                        <a href="#changestatus" onclick="loadview('{{ task.id }}')" class="secondary-content tooltipped modal-trigger" data-position="top" data-tooltip="Pendiente">
                            <i class="material-icons">assignment_late</i>
                        </a>                            
                    </li>                
                {% endfor %}
            </ul>
        </div>

        <div id = "unread" class = "col s12">
            <!--List of done tasks-->
            <ul class="collection with-header">                    
                {% for task in done %}        
                    <li class="collection-item avatar">                                                       
                        <img src="{{ task.report.photo1.url }}" alt="" class="circle">                        
                        <p>Asignada el {{ task.assigned_date|date:"d M Y" }}</p>
                        <p>Completada el {{ task.completed_date|date:"d M Y" }}</p>
                        <span class="title">
                            {% if task.report.type_of_risk == '1' %}
                                Relacionado con vuelo
                            {% endif %}
                            {% if task.report.type_of_risk == '2' %}
                                E.P.P.
                            {% endif %}
                            {% if task.report.type_of_risk == '3' %}
                                Procedimientos
                            {% endif %}
                            {% if task.report.type_of_risk == '4' %}
                                Mantenimiento Aeronáutico
                            {% endif %}
                            {% if task.report.type_of_risk == '5' %}
                                FOD
                            {% endif %}
                            {% if task.report.type_of_risk == '6' %}
                                Orden y limpieza
                            {% endif %}
                            {% if task.report.type_of_risk == '7' %}
                                Acto inseguro
                            {% endif %}
                            {% if task.report.type_of_risk == '8' %}
                                Otros
                            {% endif %}
                        </span>
                        <p>{{ task.taskDescription }}</p>
                        <p><a href="{% url 'managers:risk-report-detail' task.report.id %}"> Ver reporte de riesgo asociado</a></p>
                        <a href="#changestatus" onclick="loadview('{{ task.id }}')" class="secondary-content tooltipped modal-trigger" data-position="top" data-tooltip="Completada">
                            <i class="material-icons">assignment_turned_in</i>
                        </a>                            
                    </li>                
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col m2 hide-on-med-and-down">

</div>

<!-- Modal for level of risk-->
<div id="changestatus" class="modal">
<div class="modal-content" id="update-status-url">
    {% include '../modals/taskUpdateStatus.html' %}
</div>
</div>

{% if messages %}  
    {% for message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function toast() {
                let message = "{{ message }}"
                var toastHTML = '<span>'+message+'</span>';
                M.toast({html: toastHTML, displayLength: 5000,classes: 'rounded'});
                
            });            
        </script>
    {% endfor %} 
{% endif %}

<!--SCRIPTS-->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript">        

    document.addEventListener('DOMContentLoaded', function() {
        let modalOptions = {}
        var modals = document.querySelectorAll('.modal');
        var instances = M.Modal.init(modals, modalOptions);      
    });

    function loadview(taskid) {            
        let actionUrl= '/employee/dashboard/task-status-update/'+taskid+'/'
        document.getElementById("updateTaskStatusForm").action = actionUrl;
        
    }    
</script>
{% endblock %}