{% extends '../managerDashboard.html' %}
{% load static %}
{% block dashboard %}

{% include './employeeHeader.html' %}

<div class="col m2 hide-on-med-and-down">

</div>

<div class="col s12 m8 center-by-margin">
    <!--Floating Button-->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-tooltip="Nuevo Empleado" href="{% url 'managers:employee-create' %}">
            <i class="material-icons">person_add</i>
        </a>
    </div>
    <!--List of sms managers-->
    <ul class="collection with-header mb-mobile-for-floating-btn">
        <li class="collection-header">
            <form action='{% url 'managers:employee-search' %}' method='GET'>
                {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">search</i>        
                    <input name="my_search" type="text" placeholder="Busqueda por nombre, correo o telefono">
                </div>
            </form>
        </li>        
        {% for instance in employees.all %}        
        <li class="collection-item avatar">
            <img src="{{ instance.photo.url }}" alt="" class="circle">
            <span class="title">{{ instance.name }} {{ instance.last_name }}</span>
            <p>{{ instance.user }}<br>
                {{ instance.phone }}                
            </p>
            <a href="{% url 'managers:employee-detail' instance.user.id %}" class="secondary-content tooltipped" data-position="top" data-tooltip="ver y editar">
                <i class="material-icons">remove_red_eye</i>
            </a>            
            <a href="#delete-employee-modal"  onclick="loadview('{{ instance.user.id }}')" class="secondary-content tooltipped modal-trigger" data-position="top" data-tooltip="Eliminar" style="top: 2.5rem;">
                <i class="material-icons">delete</i>
            </a>
          </li>
        {% endfor %}
      </ul>
</div>

<div class="col m2 hide-on-med-and-down">


</div>

<!-- Modal for level of risk-->
<div id="delete-employee-modal" class="modal">
    <div class="modal-content" id="update-status-url">
        {% include '../modals/employeeDelete.html' %}
    </div>
</div>
{% if messages %}  
    {% for message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function toast() {
                let message = "{{ message }}"
                var toastHTML = '<span>'+message+'</span>';
                M.toast({html: toastHTML, displayLength: 5000,classes: 'rounded'});
                
            });            
        </script>
    {% endfor %} 
{% endif %}

<!--SCRIPTS-->
<script type="text/javascript">        

    document.addEventListener('DOMContentLoaded', function() {
        let modalOptions = {}
        var modals = document.querySelectorAll('.modal');
        var instances = M.Modal.init(modals, modalOptions);      
    });

    function loadview(userid) {            
        let actionUrl= '/sms-manager/dashboard/employee-delete/'+userid+'/'
        document.getElementById("deleteEmployeeForm").action = actionUrl;
        
    }    
</script>

{% endblock %}